@import url(https://fonts.googleapis.com/css?family=Rancho);


.row {
    width: 100%;
}

/* navigation section */

.logo {
    color: #188ae2 !important;
    font-size: 50px;
    font-family: 'Rancho', cursive !important; 
}

nav {
    padding-left: 100px;
}

#navbar-container .btn {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 130px;
    float: right;
}

.authButton {
    /* border-radius: 50px; */
}

.authButton a {
    color: white;
}

/* ends here */

/* Welcome section */

#homeWelcomeDiv {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#homeWelcomeCarousel {
    padding: 0px;
    margin: 0px;
}

#homeWelcome {
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 2;
    height: auto;
    /* border: 1px solid red; */
}

/* .homeWelcomeServicesDiv{
    height: 200px;

} */

.homeWelcomeServices{
    height: 100px;
    width: 50px;
}

.homeWelcomeServices:hover{
    background-color: #D0D3D4;
}

/* ends here */

/* services section */

#serviceRow {
    padding-left: 40px;
}

.whyListDiv {
    overflow: hidden;
    padding: 0px;
}

.whyListDiv ul {
    overflow: hidden;
    list-style: none;
}

.iconDiv {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 100%;
    width: 100px;
}

.whyDiv {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 200px;
}



/* ends here */


/* about serve content starts here */

#aboutServeRow{
    background-color: #F2F3F4;
    margin: 0px;
    padding-right: 0px;
}

#aboutServeRow h3{
    font-weight: 200;
}

#aboutContentImage{
    margin-right: 0px;
    padding: 10px;
}

#aboutContent{
    padding: 0px;
    margin: 0px;
}

/* ends here */

/* contact section starts here */

.contactIconDiv{
    width: 50px;
    margin-bottom: 30px;
}


/* footer */

footer {
    background-color: #323031;
    color: whitesmoke;
    width: 100%;
}

.footer-logo{
    color: #188ae2 !important;
    font-size: 80px;
    font-family: 'Rancho', cursive;

}

.list-div {
    /* border: 1px solid red; */
}

.list-div ul {
    margin: 0px;
    padding: 0px;
}

.list-div ul li {
    list-style: none;
    font-size: 15px;
}

.list-div ul li a {
    color: #B3B6B7;
}

footer h1 a {
    color: white;
}

footer .form-div input {
    float: left;
}

footer .input-group {
    float: left;
}

.socialMediaLogos ul li {
    display: inline;
    margin-right: 50px;
}

.copyright {
    color: #5F6A6A;
}

.contactForm {
    padding: 0px;
}


/* mobile view starts here */

@media screen and (max-width : 700px) {

    /* mobile view navigation */

    nav{
        padding: 0px;
    }

    /* mobile view service section starts */
    #serviceRow {
        padding: 10px;
        margin: 0px;
    }

    #whyRowDiv {
        margin: 0px;
        padding: 0px;
    }

    .whyDiv {
        font-size: 15px;
        width: 320px;
        margin-left: 5px;
    }

    .whyDiv h3 {
        font-size: 18px;
    }

    .iconDiv {
        width: 35px;
        margin-top: 10px;
    }

    /* ends here */

    .fas {
        font-size: 20px;
        margin-top: 5px;
    }
    
    /* mobile view about serve starts here */
    #aboutServeRow{
        padding-right: 0px;
    }

    /* ends here */

    /* mobile view contact serve row starts here */

    #contactServeContainer{
        padding-right: 0px;
    }

    #contactDetailsRow{
        margin: 0px;
    }

    .contactIconDiv{
        padding: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        width: 5px;
        padding-right: 15px;
        font-size: 10px;
    }

    .contactDetailsDiv{
        width: 250px;
        padding: 0px;
        margin-bottom: 25px;
    }
}

/* miscallenous */


.fas{
    color:  #F39C12;  
}


hr {
    width: 40%;
    float: left;
}
